<div class="fe-sign-in">
    <form method="post" action="/secure/add_player">
        <div class="form-group">
            <label for="name" class="control-label">Name</label>
            <input type="text" class="form-control" id="name" name="name"
                   placeholder="Name" value="<%= @form.name %>">
        </div>

        <div class="form-group text-center">
            <button class="btn btn-default" type="submit">Add Player</button>
        </div>
    </form>
</div>
