<h1>Race Leaderboard</h1>
<p>This is the season leaderboard for racing. Players' overall rankings in the season are determined by their rating. Performance is calculated using a modified version of the Elo rating algorithm. The algorithm takes into account variable numbers of players in each game, and rewards consistent high placement in racing. Races are scored according to the <a href="/rules#scoring">scoring rules</a>.</p>

<table class="table">
    <tr>
        <th>Name</th>
        <th>Races</th>
        <th>Total Points</th>
        <th>Rating</th>
    </tr>
    <% racers.each do |racer| %>
    <tr>
        <td><%= racer.name %></td>
        <td><%= racer.races.size %></td>
        <td><%= racer.total_points %></td>
        <td><%= racer.elo_rating %></td>
    </tr>
    <% end %>
</table>

<h1>Constructors Leaderboard</h1>
<p>This is the season leaderboard for the constructor's championship. The constructors leaderboard ranks players based on well they drive in the race. In real life, constructor points are awarded to the builders of cars whose drivers win the race. Because Formula D has an element of luck, it is much harder to gauge how well the car is "built" (played). Constructor points are awarded for efficient use of wear points.</p>

Coming soon.
