<h2>Objective</h2>
<p>
    Produce a set of rules that allow Formula D to be played in 2 laps under an hour. Not really meant for a continued season play (so cars do not stay the same over the "season"), but instead weekly play with a variable number of players.
</p>
<h2>Teams</h2>
<p>
    If the player group is 5 or less, there is the option of each player using multiple cars. This increases the number of cars on the track and changes the dynamic of the game, as the team scoring rules are used.
</p>
<h2>Qualifying</h2>
There are two methods of qualifying (determining starting position on the grid for the race): random or qualifying laps. One is faster, one is more "realistic."
<h3>Random Rolls</h3>
<p>Each player rolls the black die and their number determines their place on the grid. The highest number is first. Ties are decided randomly.

    A player may decide to spend wear points to improve his place. This represents pushing the car harder to win the qualifiers. Up to 1 tire point, 1 engine point, and 1 brake point can be spent to add up to +3 to the die roll.</p>
<h3>Qualifying Lap</h3>
<p>
    As an alternative to random placement, each car is given 8 die rolls to travel as far as it can along the track. The one who gets the furthest is first, with the other players behind in the order they finished. Ties are resolved by checking the inside corner, and if there is still a tie, it's decided by a die roll.
</p>
<h2>Races</h2>
<p>These are the rules for racing.</p>
<h3>Parc Ferme</h3>
<p>If the qualifying lap was used, any non-tire wear points lost during the qualifying session do not get restored at the start of the actual race. If random qualifying was used, no wear points are restored at the start of hte actual race. The player can choose to break parc ferme and restore all wear points. But he must start from the pit, and can only move once all cars on track have passed the pit. He can come out in second or third gear.</p>
<h3>No Space Counting</h3>
<p>
    When it is your turn, announce your gear, roll the die, and move. No counting spaces except as you move along. Every move is commital; there is no "rolling back" of spaces to figure out the most optimal path. You can count spaces on other peoples' turns. This keeps the game moving quickly and gives it the feeling of an actual race.
<h3>Overshooting Two Corners</h3>
<p>Immediate elimination, as it can be viewed similar to not stopping in a two-stop corner.</p>
<a name="scoring"></a>
<h2>Player Scoring</h2>
<p>The scoring scale for races is based off the current Formula 1 points scale, with first getting 25 points and 10th getting 1 point. Players controlling multiple cars in a race add their points together. The player with the highest points at the end of the race is the winner of the race. The race rankings are used as inputs for the Elo rating algorithm to rank each player's performance against one another.
