.fe-sign-in {
    width: 50%;
    margin: 0 auto;
    max-width: 400px;
}

.fe-form-margin-bottom {
    margin-bottom: 10px;
}

.fe-centered {
    width: 90%;
    margin: 0 auto;
}

.form-inline .form-group{
    margin-left: 0;
    margin-right: 0;
}

/* Add race page */